
.suggestion {
    top: 110%; 
    background-color: #181818; 
    border-color: #F3184E;
    outline: none;
    box-shadow: 0 0 0 2px rgba(190, 18, 60, 0.6);
    z-index: 9999; 
    position: absolute;
}